@import "tailwindcss";

@import './tokens.css';


html, body, #__next { height: 100%; }
body {
background: var(--color-white);
color: var(--color-black);
font-family: theme('fontFamily.sans');
}


.bg-primary-gradient { background: var(--gradient-primary); }