// sections/_tabs.scss

.tab-menu-list {
  margin-bottom: $spacing-md;

  ul {
    display: flex;
    gap: $spacing-sm;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: $spacing-sm;
    &:last-child { margin-right: 0; }
  }

  a {
    background: $white;
    border: 0.0625rem solid #f6f2f2;
    border-radius: 0.25rem;
    color: #555;
    font-size: 1.125rem; // 18px
    font-weight: 700;
    padding: 1.25rem 1.875rem;
    display: block;
    @include transition();

    &.active,
    &:hover {
      background: $primary-color;
      color: $white;
      border-color: $primary-color;
    }
  }
}
